.title-bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: inset;
    border-bottom-color: lightgray;
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-size: large;
}

.header-logo {

}

.header-title {
    font-size: large;
    font-weight: bold;
    float: left;
    text-decoration: none;
    color: black;
}

.body {
    padding: 100px 15px 15px 15px;
    text-align: center;
}

.header-links-right {
    float: right;
}

.header-link{
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    padding: 2px;
}

.header-link:hover {
    color: black;
    border-bottom: 1px inset green;
}

.header-logo {
    font-size: 25px;
    font-weight: bold;
}

.product-card {
    border: 1px solid black;
}

.search-bar {
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 2px solid rgb(40, 138, 40);
    border-radius: 20px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.search-bar-focused {
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 2px solid rgb(67, 202, 67);
    border-radius: 20px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 5px 2px rgba(180, 180, 180, 0.75);
}

.search-bar:hover {
    border: 2px solid rgb(67, 202, 67);
    box-shadow: 0px 0px 5px 2px rgba(180, 180, 180, 0.75);
}

.search-bar-focused:hover {
    border: 2px solid rgb(67, 202, 67);
    box-shadow: 0px 0px 5px 2px rgba(180, 180, 180, 0.75);
}

.search-bar-input{
    outline: none !important;
    border: none;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    font-size: 15px;
    width: 100%;
}

.search-bar-input:focus {
    outline: none !important;
}

.center {
    align-items: center;
    padding: 30px;
}

.switch {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(67, 202, 67);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(67, 202, 67);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.space-inbetween {
    margin: 10px;
}

.products-body {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 50px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.product {
    border: 1px none gray;
    overflow: hidden;
    width: 200px;
    height: 250px; 
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px rgba(180, 180, 180, 0.75);
}

.product-image {
    margin: 10px;
    border: 1px solid black;
    width: 180px;
    height: 140px;
}

.no-text-dec {
    text-decoration: none;
}

.product-descr {
    font-size: small;
}

.product-brand {
    margin: 5px;
    color: lightslategray
}

.product-ratings {
    font-size: small;
}